<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>No Todo Es Mecánico (Publicaciones sobre web)</title><link>https://gilgamezh.me/</link><description></description><atom:link href="https://gilgamezh.me/categories/web.xml" rel="self" type="application/rss+xml"></atom:link><language>es</language><lastBuildDate>Sat, 29 Aug 2020 09:18:40 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Excelente benchmark de webservers para Python (WSGI)</title><link>https://gilgamezh.me/posts/excelente-benchmark-de-webservers-para-python-wsgi/</link><dc:creator>GiLgAmEzH</dc:creator><description>&lt;div&gt;&lt;img alt="/images/benchpython.png" src="https://gilgamezh.me/images/benchpython.png"&gt;
&lt;p&gt;&lt;a class="reference external" href="http://nichol.as/benchmark-of-python-web-servers"&gt;http://nichol.as/benchmark-of-python-web-servers&lt;/a&gt;&lt;/p&gt;&lt;/div&gt;</description><category>performance</category><category>python</category><category>web</category><category>wsgi</category><guid>https://gilgamezh.me/posts/excelente-benchmark-de-webservers-para-python-wsgi/</guid><pubDate>Fri, 12 Apr 2013 18:19:12 GMT</pubDate></item></channel></rss>